# ==========================================
# 1. LaTeX & XeLaTeX Build Files
# ==========================================
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.synctex.gz
*.xdv
*.bcf
*.run.xml

# ==========================================
# 2. Python & Jupyter Notebooks
# ==========================================
# Cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments 
venv/
.venv
env/
.env

# ==========================================
# 3. Data Science Datasets (Optional but Recommended)
# ==========================================
*.dat
*.sqlite
*.db

# ==========================================
# 4. OS & Editor Clutter
# ==========================================
# Windows & macOS garbage
Thumbs.db
.DS_Store

# VS Code 
.vscode
.vscode/*
!.vscode/settings.json


# Other
Assignments/CA2/checkpoints
Assignments/CA2/logs.txt
# *.png
# *.jpg
# *.jpeg
# *.svg

checkpoints/
logs.txt


Assignments/CA4/data/CA4_DB
Assignments/Final_Project/data